streamlit
langchain
langchain-community
langchain-groq
langchain-chroma
chromadb
unstructured
ollama
llama-index==0.10.32
langchain-ollama
validators
python-dotenv
youtube-transcript-api
pytube
yt-dlp
duckduckgo-search
transformers
torch
chromadb
numpy
pandas
sentence-transformers
db-sqlite3
